<h1>Welcome to Find Replace, A Clunky Version of GSub</h1>
<p>
  Clunky GSub. A website where you enter a string, chooses a word in that string and a replacement for that word. We perform an action that will look something like "Hello world".find_and_replace("world", "universe"). The result of which would be "Hello universe".
</p>
<form action="/target">
  <div class="form-group">
     <label for="target">Give us the target text
     </label>
     <input id="target" name="target" class="form-control" type="text-area">
  </div>
  <div class="form-group">
     <label for="find">What do you want us to find?
     </label>
     <input id="find" name="find" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="target">What do you wnat us to replace it with?
     </label>
     <input id="replace" name="replace" class="form-control" type="text-area">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
